export(closeProject)
export(createSimulation)
export(getResult)
export(getSimulationIDs)
export(initSimplace)
export(openProject)
export(resetSimulationQueue)
export(resultToDataframe)
export(resultToList)
export(runProject)
export(runSimulations)
export(stepSimulation)
export(varmapToList)
